
.foodsApp {
  border: 1px solid rgb(155, 50, 50);
  padding: 10px;
  width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* background-color: lightgoldenrodyellow; */
  background: linear-gradient(to right, rgba(209,52,21,1) 0%, rgba(223,65,38,1) 51%, rgba(185,46,24,1) 71%, rgba(186,41,18,1) 93%, rgba(178,46,31,1) 100%);
}
.foodsTittle {
  align-self: center;
}
.foodsApp > button {
  display: block;
}
.foodsApp > button:hover {
  cursor: pointer;
}
.moveUpBtn {
  margin-bottom: 8px;
}
.moveDownBtn {
  margin-top: 8px;
}
.foodsApp > div {
  padding: 8px 20px;
}
.foodsApp > div:hover {
  cursor: pointer;
}
.selectedFood.selectedFood {
  color: white;
  
}