.clothesList {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.clothesItem {
  display: flex;
  width: 150px;
  justify-content: space-between;
  margin-top: 10px;
}