html {
  font-size: 18px;
  font-family: Verdana, "Geneva", Tahoma, sans-serif;
  background: rgba(139,170,116,1);
  background: linear-gradient(to right, rgba(243,226,199,1) 0%, rgba(182,141,76,1) 69%, rgba(193,158,103,1) 76%, rgba(233,212,179,1) 100%);
}
.homePage {
  text-align: center;
}
.navPanel {
  list-style-type: none;
  display: flex;
  justify-content: center;
}
.navPanel a {
  padding-right: 50px;
  color:   black;
  text-decoration: none;
}
.navPanel a:focus {
  color: white;
}


  /* background: -moz-linear-gradient(left, rgba(139,170,116,1) 0%, rgba(66,103,37,1) 75%, rgba(42,81,11,1) 100%);
  background: -webkit-linear-gradient(left, rgba(139,170,116,1) 0%, rgba(66,103,37,1) 75%, rgba(42,81,11,1) 100%);
  background: -o-linear-gradient(left, rgba(139,170,116,1) 0%, rgba(66,103,37,1) 75%, rgba(42,81,11,1) 100%);
  background: -ms-linear-gradient(left, rgba(139,170,116,1) 0%, rgba(66,103,37,1) 75%, rgba(42,81,11,1) 100%); */